
.container_login
{
background-image:url(images/bg2_main.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 100%;
padding: 10%;


}
.body_login
{
  height: 94vh;
}
.mainbody
  {
  background-color: #FFFFFF;
  }
.h3one
  {
  color: #FF9800;
  font-size: 22px;
  border: solid white;
  height: 15%;
  width: 100%;
  }
#container
  {
  height: 94vh;
  padding-top: 5vh;
  background-color:#82b891;
  }

#courses
   {
  border-top: solid gold;
  width: 100%;
   }
#addcourses
  {
  border-top:solid gold;
  border-radius: 20px;
  height: 40%;
  }
#deletecourses
  {
    border-top:solid gold;
    border-radius: 20px;
      height: 40%;
  }
  #editcourses
  {
  border-top:solid gold;
      border-radius: 20px;
        height: 40%;
  }
#course_list
{
  border-top:solid gold;
      border-radius: 20px;
        height: 40%;



}
#myrefs
{
  border-top:solid gold;
      border-radius: 20px;
        height: 40%;
}
#container_ourstory
{
  border-top:solid gold;
      border-radius: 20px;
        height: 40%;
}

#textarea_section{
  border: solid gold;
  border-radius: 10px;
  height: 70vh;
  margin-left: 5%;
  margin-right: 5%;
}
th,td{
margin-right: 30%;


}
